div{
    height: 100px;
    width: 100px;
    background-color: aqua;
    border:2px solid black ;
    display: inline-block;
}
#box1{
    position: static;
    top: 20px;
}
#box2{
position: relative;
top: 20px;
right: 10px;
}
#box3{
    position: absolute;
    top: 10px;
    right: 20px;
}
